@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
nav{
    padding: 5px;
    font-weight:600;
    display: flex;
    align-items: center;
    background-color:blanchedalmond;
    height: 33px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.logo{
    font-size: 21px;
    font-weight:900;
    margin: 0 23px;
    cursor: pointer;
}
.logo:hover{
    font-size: 23px;
    color: darkslategrey;
}
nav ul{
    display: flex;
    justify-content: center
}
nav ul li{
    list-style: none;
    margin: 0 2vw;
    text-decoration: none;
}
nav ul li a{
    color: black;
    text-decoration: none;
}
nav ul li a:hover{
    color: darkslategrey;
    font-size: 15px;
    cursor: pointer;
}
.container{
    min-height: 88vh;
    max-width: 80vw;
    margin: auto;
}
.container h1{
    text-align: center;
}
.container form{
    display: flex;
    flex-direction: column;
}
.container form input[type='number'],select,label{
    font-size: 23px;
    margin: 7px 0;
    width: 23vw;
}
footer{
    text-align: center;
    background-color: blanchedalmond;
}
.btn {
    width: 9vw;
    background: darkslategrey;
    color: white;
    padding: 10px;
    border-radius: 12px;
    border: 1px solid darkgray;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    cursor: pointer;
  }
  .output{
    display: none;
  }
.output table{
    border: 2px solid black;
    width: 50vw;
    text-align: center;
    font-size: 20px;
}
.output  h3{
    margin: 15px;
}

@media only screen and (max-width: 500px) {
    body {
        background-color: aqua;
    }
    nav{
        height: 10vh;
        flex-direction: column;
    }
    .container table{
        width: 85vw;
    }
    .container table th{
        padding: 6px;
    }
    .container h1{
        font-size: 21px;
        margin-bottom: 23px;
    }
    .container form input[type='number'],select,label{
        font-size: 16px;
        margin: 7px 0;
        width: 50vw;
    }
    .btn {
        width: 19vw;
      }
}